body {
    font-family: Verdana, sans-serif;
    background-image: url('library_wallpaper.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    background-color: rgba(53, 66, 74, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #35424a;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    color: black;
}

tbody {
    font-family: Verdana, sans-serif;
    color: black;
}

th {
    background-color: #35424a;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px 0;
    font-family: Verdana, sans-serif;
    color: black;
}

form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #35424a;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px;
    background: rgba(53, 66, 74, 0.8);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}
